.body {
  padding-left: 5px;
}
.top {
  display: grid;
  grid-template-columns: 2;
  gap: 10px;
}
.header {
  grid-column: 1;
}
.cal {
  grid-column: 2;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.projects {
  grid-column: 1;
}

.projectDescription {
  grid-column: 2;
}

.tasks {
  grid-column: 3;
}

.description {
  grid-column: 4;
}

.fa-check {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;
  font-weight: normal;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* calendar formatting */
div.title {
  font: x-large Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  height: 40px;
  background-color: white;
  color: black;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Styling for the footer */
div.footer {
  font: small Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}
/* Styling for the overall table */
table {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  table-layout: fixed;
  border-collapse: collapse;
  width: 90%;
}
/* Styling for the column headers (days of the week) */
th {
  padding: 0 0.5em;
  text-align: center;
  background-color: gray;
  color: white;
}
/* Styling for the individual cells (days) */
td {
  font-size: medium;
  padding: 0.25em 0.25em;
  width: 25px;
  height: 30px;
  text-align: left;
  vertical-align: top;
}
/* Styling for the date numbers */
.date {
  font-size: large;
  padding: 0.25em 0.25em;
  text-align: left;
  vertical-align: top;
}
/* Class for individual days (coming in future release) */
.sun {
  color: red;
}
/* Hide the month element (coming in future release) */
th.month {
  visibility: hidden;
  display: none;
}
